*{
  box-sizing: border-box;
}
.notification{
  background:  black;
  width: 20px;

  height:27px;
}

.badge {
		position:relative;
	}
	.badge[data-badge]:after {
		content:attr(data-badge);
		position:absolute;
		top:-20px;
		right:-10px;
		font-size:0.7em;
		background:gray;
		color:red;
		width:18px;
    height:18px;
		text-align:center;
		line-height:18px;
		border-radius:78%;
		box-shadow:1 1 1px #555;
	}


.header{
background-color: green;
margin: 0px;
padding: 0px;
height: auto;


}

.logo-photo {
  width:25px;
}

.avatar{
  width:20px;
  margin-left:13px;
}


.header-logo,
.logo-text{
  display:inline-block;
  margin-left:35px;
}

a{
  text-decoration: none;
}
.header-right{
  float:right;
margin:25px 12px 0px 0px;
}

/***alert box***/



.notification{
  background:  black;
  width: 20px;

  height:27px;

}
li{
  list-style-type: none;
}
/******set ul padding to 0 to eliminate the extra padding add by the browser***/

ul {
padding-left:0px;
}

/*****decrease the size of icons***/
.dashboard,
.members,
.visits,
.setting {
  width:40px;

  padding:10px;
  }

.sidebar-nav{
height:100%;
  width: 86px;;
 position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red;
  overflow-x: hidden;
  padding-top: 16px;

}


.sidebar-nav li {

  padding-left:2px;
  margin-left: 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  width:30px;


}
.search {
  display:flex;
  justify-content: space-between;
  padding-left: 100px;
  margin-right:10px;
  padding-top:20px;
  position:relative;
  margin-left: 0;



}


.search .fa-search{
  position: absolute;
  top:24px;
right:10px;
}
.dash{
  margin-left: 0.1rem;
}



.alert {
  padding: 10px;
  background-color: #d67598;
  color: white;
  margin-top: 15px;
  margin-left:95px;
  text-indent: 1px;
  width:88%;
  font-size: 22px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: 400;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: green;
}
.chart-container{
max-width:100%;
margin:0 auto;
margin-left:98px;
}
ul li{
  list-style-type: none;
  display:inline-block;
  padding:2px;
  margin-left:40px;
}
.traffic-nav{
  display:flex;
  justify-content: space-between;
}
li:nth-child(3){
  color:green;
}
.chart-container {
  max-width:450px;
}
.second-chart{
  max-width:450px;
  margin-left:125px;
}
.third-chart{
  max-width:450px;
  margin-left: 125px;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.social-stats{
  margin-left:130px;
}
.twitter-photo{
  margin-left:160px;
  width:40px;
  height:40px;
  padding:3%;
  background-color:pink;
  border-radius: 50%;
}
.facebook-photo{
  margin-left: 165px;
  width:40px;
  height: 40px;
  padding: 3%;
  background-color: blue;
  border-radius: 50%;
}
.google{
  margin-left: 165px;
  width:40px;
  height:40px;
  padding:3%;
  background-color: red;
  border-radius: 50%;
}
table p{
  margin-top:2px;
}
tbody{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width:60%;
  margin-left:120px;



}

tr{
  flex:1;
  padding:0 10px;
  border: 1px solid purple;
  margin:0 5px;

}
td{
  padding:5px;
}

.member-image{
  background-color: red;
}

/******member header****/
.member-recent {
  margin-left:120px;
  line-height: 1.5em;
 font-style: normal;
 font-size: 15px;
 font-weight: bold;
 font-size-adjust: auto;
 font-family: serif;
 white-space: nowrap;


}

.message{
  padding-left:130px;
}
.member-image,
.recent-images{
  border-radius:100%;
}
.member-image
{
  width:60px;
}
.recent-images{
  width:60px;
}
/****table content***/

.date {
  position: relative;
  left:300px;
  bottom: 35px;

}

.table-content,
.image-wrap
{
  max-width:100%;
  border:none;
}

.recent-activity{
  padding-left:130px;
}

.first,
.second{
  display: inline-block;
  width: 100%;
}
tr {
  width:80%;
  text-overflow: ellipsis;

}
.first-table,
.last-table{
  display:inline-block;
  width:46%;
}

.tables-combine{
  border-top:3px solid green;

  border-bottom:3px solid green;
  margin:34px 0 34px 0;

}

.main{
  width:90%;
  border-bottom:1px solid red;

}
.second-main {
  width:60%;
  border-bottom: 1px solid red;
  padding-top: 3px;
  margin-left: 90px;
}

.first-table{
  width:50%;

  border-right:1px solid red;
}
.find, .textinput {
  width:100%;
  padding:50px 0;
  margin-left:130px;
}
input[type="text"]{
  padding:5px;
}
.textinput{

  padding-top:10px;
}
.text{
  width:100%;
}
.submit{
  width:100%;
}
.settings-container{
  margin-left:180px;
}
/****styling h3***/
h4{
  font-size: 1em;
  font-weight: lighter;
  font-style: normal;
  font-family: sans-serif;
  font-variant-ligatures: normal;
  font-variant: small-caps;
  color: #f442bf;

}
/** the box around the slider***/
.switch{
  position:relative;
  display:inline-block;
  width:60px;
  height:30px;


}

/*** hide defaulthtml checkbox***/
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
/*** the slider***/
.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#0345D6;
  -webkit-transition:.4s;
  transition:.4s;
}

/*** slider before***/
.slider:before{
  position:absolute;
  content:"";
  height:24px;
  width:24px;
  left:2px;
  bottom:2px;background-color:white;
  -webkit-transition:.4s;
  transition: .4s;
padding:2px 2px;
}

input:checked + .slider{
  background-color: pink;
}

input:focus + .slider {
  box-shadow: 0 0 2px yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.phrase, .button{
  display:inline-block;
  padding:0 20px;


}

.second-phrase,
.second-button{
  display: inline-flex;
  padding:0 30px;
}
.timezone{
  margin-top:10px;
  max-width: 50%;
  padding:5px;
}
.information-box,
.second-info{
  display:inline-block;
  width:48%;

}
 .information, .textinput{
  width:70%;
}
.settings-chart{
  margin-left:180px;
}
.timezone-buttons .saveButton{
  display:inline-block;
  width:46%;
}
