/*****universal selector****/
*{
  box-sizing: border-box;
}

/*** adjust the width and height of icon***/

.topNav-right{
  color:black;
}

/***display and size of icon and avatar ***/

a .icon{
  display:inline;
  width:25px;
  height:20px;
  background-color:red;
}

.avatar{
  display:inline;
  width:35px;
  height:20px;
  border-radius: 100px;
}

.topNav a{
  float:left;

  font-size:15px;

}
a{
  text-decoration: none;
}


.topNav-right{
  float:right;

}
.topNav-right {
  padding-bottom:5px;
}
/****styling topNav***/
.topNav{
  border:100px;
  padding:45px;
  border: 45px;
  background-color: red;
}

.icon-bar{
  width:69px;
  background-color:blue;
  padding:25px;
  height:700px;

}
.icon-bar a{
  display:block;
  text-align:center;

  transition: all 0.4s ease;
  color:black;
  font-size:40px;
}
.main-section{
  max-width: 40%;

  margin: 0 auto;
  display:inline;
  float: right;

  }

.form{
  padding-bottom: 40%;
  display: flex;
  flex-direction: row;

}
input[type="text"]{
  margin-top:25px;
}
.dash h2,
input[type="text"]{
  display:flex;
  margin-bottom: 140px;

}
