/*****universal selector****/
*{
  box-sizing: border-box;
}

/*** adjust the width and height of icon***/

svg{
  width:20px;
  height:20px;
  display: inline-flex;
  top:25px;


}


/***adjust the width and size of avatar photo***/
.avatar {
  width:25px;
  height:25px;
  border-radius:100px;
display:block;
}

ul{
  list-style-type: none;
  padding: 8px;



}
li{
  display:inline;

}
li:nth-child(3){
  display:block;
  float:right;
  position: sticky;

  }
.icon{
  display:block;
  float:right;
}
