/*****universal selector****/
*{
  box-sizing: border-box;
}

/*** adjust the width and height of icon***/

.topNav-right{
  color:black;
}

/***display and size of icon and avatar ***/

a .icon{
  display:inline-block;
  width:25px;
  height:20px;
  background-color:red;
}

.avatar{
  display:inline;
  width:35px;
  height:20px;
  border-radius: 100px;
}

.topNav a{
  float:left;

  font-size:15px;

}
a{
  text-decoration: none;
}


.topNav-right{
  float:right;

}
.topNav-right {
  padding-bottom:5px;
}
/****styling topNav***/
.topNav{
  border:100px;
  padding:45px;
  border: 45px;
  background-color: red;
}

.icon-bar{
  max-width:60%;
  background-color:blue;
  padding:35px;
 height:650px;
display: inline-block;
}
.icon-bar a{
  display:block;

  text-align:center;
  transition: all 0.4s ease;
  color:black;
  font-size:20px;
  width:50px;

  padding: 10px;

}

form{
  max-width: 100%;
  background-color: pink;
  margin-top: 35px;

}
.Dash,
.search{
  display: inline-block;
}
.search{
  float: right;
  padding-top: 20px;
}


/* alert box message*/

.alert{
  padding:15px;
  background-color:grey;
  color:blue;
  margin-top:20px;
  opacity:1;
  transition:opacity 0.6s;
}

/* close button*/
.closebtn{
  margin-left:30px;
  color:white;
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.4s;
  float: right;
}

/*closebtn on hover*/
.closebtn:hover{
  color:green;
}
